.ordersTable {
  background: white;
  padding: 2rem;
  border: 1.5px solid #f4f4f4;
  display: flex;
  flex-direction: column;
  font-family: 'Schibsted Grotesk', Arial, sans-serif;
  margin-top: 1rem;
  margin-right: 1rem;
  transition: color 0.3s ease;
  position: relative;
  overflow: auto; 
  max-height: 100vh; 

  /* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.headerTabs {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
  padding: 1.5rem;
  border: 1.5px solid #f4f4f4;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
}

.headerTabs span {
  cursor: pointer;
  color: #676979;
  font-size: 1.4rem;
}

.headerTabs .active {
  color: #07A1FF;
  font-weight: 500;
  padding-bottom: 5px;
  font-size: 1.4rem;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #07A1FF;
  width: 100%;
}

.filterButton {
  margin-left: auto;
  background: white;
  border: 1px solid lightgray;
  padding: 5px 1rem;
  cursor: pointer;
  color: #32343D;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  position: relative;
}

.table tr{
  padding: .5rem;
}

th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1.5px solid #e0e0e0;
  font-weight: 500;
  color: #434750;
  padding: 2rem 1rem;
}

th {
  background: #F7F8FA;
  font-size: 1.4rem;
  font-weight: 400;
  color: #727988;
  position: sticky;
  top: 5.5rem; 
  z-index: 500;
}

.amountBd{
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.hash{
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

/* Fix the thead right below the tabs */
.table thead {
  position: sticky;
  top: 6.5rem; /* Adjust based on headerTabs height */
  background: #F7F8FA;
  z-index: 500;
}

/* Reduce padding of the table head */
.table thead th {
  padding: 1rem 0.5rem;
  text-align: left;
  border-bottom: 1.5px solid #e0e0e0;
  font-weight: 500;
  color: #434750;
  font-size: 1.6rem;
  font-weight: 400;
  color: #727988;
}