.brand {
  width: 312px;
  height: 100%;
  background-color: #f8fafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  transition: all 0.3s ease;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1.2rem .8rem;
  position: relative;
  bottom: 20%;
}

.logo-image {
  width: 4rem;
  height: 4rem;
  border-radius: .8rem;
}

.logo-text {
  font-size: 2rem;
  font-family: 'Schibsted Grotesk', Arial, sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  color: #333;
}

/* Menu Styling */
.navigation {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height */
  justify-content: space-between; /* Distributes items: top, middle, bottom */
  gap: 1rem; 
  flex: 1;
}

.navigation ul:first-child {
  /* This ensures the first (menuItems) stays at the top */
}

.navigation ul:nth-child(2) {
  flex-grow: 1; /* Pushes this section to the middle */
}

.navigation ul:last-child {
  margin-top: 15rem; 
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  font-size: 1.8rem;
  flex-direction: column;
  gap: .8rem; 
}

.navigation ul span{
 font-size: 1.5rem;
 font-weight: 500;
 font-family: 'Schibsted Grotesk', Arial, sans-serif;
}

.navigation_item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
  box-sizing: border-box;
}

.navigation ul a {
  text-decoration: none !important; 
  color: inherit;
}

.side-bar-icon {
  margin-right: 1.5rem;
  font-size: 1.4rem;
}

.navigation_item:hover {
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  padding: 1rem;
}

.navigation_item.active {
  background-color: #ffffff;
  font-weight: bold;
  color: #333;
  padding: 1rem ;
  text-decoration: none;
  width: 70%;
}

.sales{
  margin-top: 5rem;
  line-height: 2.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #8A8E97;
  padding: .8rem 1.6rem;
}