.button {
  display: flex;
  align-items: center;
  padding: 0.2rem 1.4rem;
  border-radius: 1rem;
  border: 2px solid #f4f4f4;
  font-size: 1.4rem;
  gap: 8px;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.button:hover {
  transform: translateY(-1px); 
}


.icon {
  width: 20px; /* Adjust size */
  height: 20px;
}