.innerBody {
  display: grid;
  grid-template-columns: 71% 29%;
   
}

.conversionTrafficWrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* Prevent shrinking */
}

.rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; 
  
}

/* Hide scrollbar in Chrome, Safari, and Edge */
.rate::-webkit-scrollbar {
  display: none;
}

.topSellingScroll {
  flex-shrink: 0; /* Ensures it does not shrink */
  margin-bottom: 2rem;
}
