.card {
  background: white;
  border-radius: 1.2rem;
  padding: 1rem;
  display: flex;
  margin: 1rem;
  flex-direction: column;
  border: 2px solid #f4f4f4;
  font-family: 'Schibsted Grotesk', Arial, sans-serif;
  width: 94%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.filters {
  display: flex;
  gap: 1rem;
}

.selectOption{
  background-color: #ddd;
}

.button {
  background-color: #fff;
}

.filterSelect {
  border: 1.5px solid #f4f4f4;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.4rem;
  font-weight: 500;
}

.filterSelect option {
  background-color: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHead{
  background-color: #F7F8FA; 
  border-radius: 1.2rem;
}

.amountBd{
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.hash{
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.tableRow{
  border-radius: 1.2rem;
}

.table th, .table td {
  padding: 1.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.status {
  padding: 5px 1rem;
  border-radius: 5px;
  font-weight: 500;
}

.paid {
  background: #E4FEF3;
  color: #11523A;
}

.pending {
  background: #FEF2E6;
  color: #4C3015;
}

.customer{
  font-family: 'Schibsted Grotesk', Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}

.customerHead{
  color: #727988;
  font-family: 'Schibsted Grotesk', Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
