.canvas {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-right: 2rem;
  padding-bottom: .5rem;
}


/* SalesGraph.module.css */

.grid-line {
  stroke: #ddd; /* Grid line color */
}

.text-label {
  fill: #6c757d; /* Label color */
  font-size: 12px;
  font-family: 'Schibsted Grotesk', Arial, sans-serif;
}

.blue-line {
  stroke: #007bff; /* Blue line color */
  stroke-width: 3px;
}

.orange-line {
  stroke: #f4a261; /* Orange line color */
  stroke-width: 3px;
}
