.salesCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  background: white;
  border-radius: 1.2rem;
  padding: 1rem;
  margin: .4rem; /* Remove extra margins */
  margin-top: .2rem;
  /* border: 2px solid #f4f4f4; */
  font-family: 'Schibsted Grotesk', Arial, sans-serif;
  width: 100%; /* Ensure it takes full width */
  box-sizing: border-box; /* Ensure padding doesn’t shrink content */
}



.salesCard {
  flex: 1; /* Allow cards to expand */
  min-width: calc(33.333% - 1.2rem); /* 3 cards per row, adjust gap */
  max-width: calc(33.333% - 1rem); /* Keep cards touching edges */
  padding: 1rem;
  border-radius: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: 'Schibsted Grotesk', Arial, sans-serif;
  justify-content: space-between;
  gap: 2.5rem;
  position: relative;
  overflow: hidden;
  border: 1.5px solid #e5e7eb;
  box-sizing: border-box; /* Prevent unwanted overflow */
}

/* Header Section */
.salesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconContainer {
  width:3.5rem;
  height:3.5rem;
  background: #f6f7f8;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Growth Percentage */
.growth {
  display: flex;
  align-items: center;
  color: green;
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 11.5rem;
}

.growthText {
  margin-left: 3px;
}

/* Sales Info */
.salesTitle {
  font-size: 16px;
  color: #70747E;
  font-weight: 500;
  margin: 0;
}

.red {
  color: #dc2626; /* Bright red color */
}

.salesAmount {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

/* Graph Background */
.graphBg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-size: contain;
  
}
